body { background-image: url(anthonyHopkinsPuppetl.gif);
    background-repeat: repeat;

    h1 {
        color:rgb(247, 0, 255);
        font-size: 300%
}
    h2 {color: rgb(223, 226, 43);}
    h3 {color:brown}
    h4 {color:rgb(0, 192, 16)}
    h5 {color: rgb(126, 0, 38);}
   
    p {font-size: 200% }
    main {
        font-size: 250%;
        color:yellow;
        }
}